<style>
   @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

   body {
      font-family: 'Outfit', Arial, sans-serif;
      font-weight: 300;
   }

   p {
      margin: 12px 0;
      line-height: 1.5;
      color: #000000;
   }

   strong {
      font-weight: 400;
   }
</style>
<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}
      
      <p>Bonjour <strong>{{ client.usePseudo == 1 ? client.pseudo : client.usePseudo == 1 ? client.pseudo : client.nom ~ ' ' ~ client.prenom }}</strong>,</p>

      <p>
         Bonne nouvelle !<br> Votre commande d'un montant total de <strong>{{ commande.montant ~ currency }}</strong> pour le pack <strong>{{ commande.pack.name }}</strong> a été prise en
         compte par <strong>{{ appName }}</strong>.
      </p>

      {% include "mails/_lien_cgu.html.twig" %}
      
   </div>
</div>