{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('themes/custom/about.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="page-editorial page-wysiwyg">
        <div class="hero-editorial">
            <div class="container">
                <h1 class="primaryTitle textcenter mentionlegaltitle"><span class="br-mobile">Mentions Légales –</span> Talengo.io</h1>
            </div>
        </div>
        <div class="container">
            <div class="wysiwyg">
                <div class="content">
                    <h3 class="secondaryTitle">Informations éditeur</h3>
                    <p>Éditeur : <strong>Talengo.io,</strong> société à responsabilité limitée (SARL) immatriculée sous le numéro <strong>11238932,</strong> ayant son siège social au :<br>
                        <strong>Irlande</strong></p>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Hébergeur</h3>
                    <p>Le site <strong>Talengo.io</strong> est hébergé par :</p>
                    <p><strong>Hostinger International Ltd</strong><br>
                        Siège social : 61 Lordou Vironos Street, 6023 Larnaca, Chypre<br>
                        Site web : <a href="https://www.hostinger.fr">https://www.hostinger.fr</a></p>
                </div>
                <div class="content">
                    <h2 class="primaryTitle">Conformément à la LOI n° 2004-575 du 21 juin 2004 pour la
                        confiance dans l'économie numérique :</h2>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Conditions d'utilisation</h3>
                    <p>Toute personne accédant au site <strong>Talengo.io</strong> (ci-après "le Site") s’engage à respecter les présentes
                        conditions d’utilisation, qui peuvent être complétées par des conditions spécifiques selon les services
                        proposés.</p>
                    <p>Les contenus diffusés sur Internet sont susceptibles d’être réglementés ou protégés par des droits de
                        propriété intellectuelle. Chaque utilisateur est responsable des données qu’il diffuse, utilise et/ou transfère,
                        et s’engage à respecter la législation en vigueur, notamment concernant :</p>
                    <ul>
                        <li>Les contenus illicites (incitation à la haine, etc.).</li>
                        <li>Le respect des droits des tiers (droits d’auteur, marques, propriété intellectuelle...).</li>
                    </ul>
                    <p><strong>Talengo.io</strong> décline toute responsabilité liée à l’usage des données ou à la diffusion de contenus par les
                        utilisateurs qui ne respecteraient pas la réglementation applicable.</p>
                    <p>Les données publiées sur le Site (contenus, profils, outils, documents téléchargeables, images, logos,
                        marques, etc.) sont protégées par des droits de propriété intellectuelle. Toute reproduction ou utilisation,
                        même partielle, à d’autres fins que l’usage privé, sans autorisation écrite préalable de <strong>Talengo.io,</strong> est
                        strictement interdite et expose à des poursuites civiles et/ou pénales.</p>
                    Nous vous invitons à consulter régulièrement les présentes conditions et à prendre également
                    connaissance de nos <strong>Conditions Générales d’Utilisation</strong> et <strong>Conditions Générales de Vente.</strong>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Protection des données personnelles</h3>
                    <p>Nous vous invitons à consulter notre <strong>Politique de Confidentialité,</strong> qui décrit en détail les règles de
                        protection des données personnelles dans le cadre de l’utilisation de notre plateforme.</p>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Utilisation du courrier électronique</h3>
                    <p>En utilisant les formulaires de contact ou d’assistance de <strong>Talengo.io,</strong> vous reconnaissez que les
                        communications par e-mail via Internet ne sont pas entièrement sécurisées, et que le secret des
                        correspondances transmises ne peut être totalement garanti.</p>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Copyright – Droits d’auteur</h3>
                    <p>Toute reproduction ou représentation, intégrale ou partielle, par quelque procédé que ce soit, ainsi que
                        toute extraction automatisée ou non des contenus publiés sur le Site sans l’autorisation écrite préalable de
                        <strong>Talengo.io</strong> constitue une contrefaçon au sens des articles L.335-2 et suivants du Code de la propriété
                        intellectuelle.</p>
                    <p>Le contenu du Site est régulièrement mis à jour et vérifié. Toutefois, <strong>Talengo.io</strong> ne garantit ni l'exactitude,
                        ni l'exhaustivité des informations fournies.</p>
                </div>
                <div class="content">
                    <h3 class="secondaryTitle">Liens externes</h3>
                    <p>Le Site peut contenir des liens vers des sites tiers. <strong>Talengo.io</strong> n’exerce aucun contrôle sur ces sites et
                        décline toute responsabilité quant à leur contenu ou à l’usage qui pourrait en être fait.</p>
                </div>
                <div class="content">
                    <p>Pour toute question ou demande d'information, vous pouvez nous contacter à l’adresse suivante : <br>
                        <a href="mailto:talengo.contact@gmail.com">talengo.contact@gmail.com</a></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
