{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block titre %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}


    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error" role="alert">
            <!-- flashError -->
            Le lien pour vérifier votre e-mail semble être pour un autre compte ou e-mail. Veuillez demander un nouveau lien.
        </div>
    {% endfor %}


    <div class="account-page cs-reset-password">
        <div class="container">
            <div class="content-sign-upForm">
                <h1 class="primaryTitle" style="margin-bottom: 20px;">Modifier votre mot de passe : </h1>
                {{ form_start(resetForm, {attr : {class: 'change_password_form'}}) }}
                <div class="row-form">
                    {{ form_row(resetForm.plainPassword) }}
                </div>
                <button type="submit" class="btn btn-primaryBlue">Envoyer</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>


{% endblock %}
