
@font-face {
    font-family: 'Outfit-Thin';
    src: url("../fonts/Outfit-Thin.woff2") format("woff2"), url("../fonts/Outfit-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-ExtraLight';
    src: url("../fonts/Outfit-ExtraLight.woff2") format("woff2"), url("../fonts/Outfit-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Light';
    src: url("../fonts/Outfit-Light.woff2") format("woff2"), url("../fonts/Outfit-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Regular';
    src: url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-medium';
    src: url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-SemiBold';
    src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Bold';
    src: url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-ExtraBold';
    src: url("../fonts/Outfit-ExtraBold.woff2") format("woff2"), url("../fonts/Outfit-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Black';
    src: url("../fonts/Outfit-Black.woff2") format("woff2"), url("../fonts/Outfit-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Outfit-Regular", arial, sans-serif !important;
    --font-family-sans-serif: "Outfit-Regular", arial, sans-serif !important;
}

.navbar.navbar-expand-lg {
    background-color: #4c8be8 !important;
}

.bg-dark {
    background-color: #4c8be8 !important;
}

.text-dark {
    color: #4c8be8 !important;
}

.badge.badge-blue {
    background: #4c8be8 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: #4c8be8 !important;
}

.dropdown-item.active i.fa, .dropdown-item:active i.fa {
    color: white !important;
}

.btn.btn-icon {
    background: #4c8be8 !important;
}

.white-icon {
    stroke: white;
}

.dropdown-menu .dropdown-item:hover {
    background: #4c8be8 !important;
}

.btn-dark, .btn-success {
    background: linear-gradient(90deg, #4c8be8 0, #4c8be8);
    border-color: #4c8be8;
}
.btn.btn-success:hover {
    border-color: #4c8be8 !important;
}

.bg-blue, .osahan-post-header:hover {
    background: #4c8be8 !important;
    border-color: #4c8be8 !important;
    color: #fff !important;
}

/* FIL ARIANNE */

.breadcrumb {
    margin-bottom: 25px;
    background-color: #FFFFFF !important;
}
.breadcrumb .content {
    padding-left: 34px;
    position: relative;
}
.breadcrumb .content a {
    font-family: "Outfit-Medium", arial, sans-serif;
    font-size: 15px;
    color: #75787b;
    padding-right: 15px;
    padding-left: 5px;
    position: relative;
    display: inline-block;
}
.breadcrumb .content a::first-letter {
    text-transform: uppercase;
}
.breadcrumb .content a:first-child {
    position: absolute;
    left: 0;
    padding-left: 0;
}
.breadcrumb .content a:after {
    content: "/";
    position: absolute;
    right: 0;
    top: 0;
    color: #75787b;
}
.breadcrumb .content a:last-child {
    padding-right: 0;
}
.breadcrumb .content a:last-child::after {
    display: none;
}
.breadcrumb .content a:not(:first-child):hover {
    text-decoration: underline;
}
.breadcrumb .content a:hover {
    color: #343a40;
}


/* Responsive menu burger */


nav .left-content {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    nav .left-content {
        display: block;
    }
}


nav .content-right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    nav .content-right {
        position: absolute;
        background: #20406f;
        width: 100%;
        top: 0;
        height: 100vh;
        align-items: flex-start;
        padding-left: 25px;
        padding-top: 80px;
        left: 100%;
        transition: transform 0.4s ease, opacity 0.4s ease;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
    }
    .activeMenuBurger nav .content-right {
        left: 0;
    }
    .userConnected nav .content-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    nav .content-right nav {
        margin-bottom: 20px;
    }
    nav .content-right .menu {
        display: block;
    }
    nav .content-right .menu li i {
        display: none;
    }
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
@media screen and (max-width: 767px) {
    nav .content {
        display: block;
    }
}
nav .content-right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    nav .content-right {
        position: absolute;
        background: #20406f;
        width: 100%;
        top: 0;
        height: 100vh;
        align-items: flex-start;
        padding-left: 25px;
        padding-top: 80px;
        left: 100%;
        transition: transform 0.4s ease, opacity 0.4s ease;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
    }
    .activeMenuBurger nav .content-right {
        left: 0;
    }
    .userConnected nav .content-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    nav .content-right nav {
        margin-bottom: 20px;
    }
    nav .content-right .menu {
        display: block;
    }
    nav .content-right .menu li i {
        display: none;
    }
}




.activeMenuBurger nav .menuBurger.navbar-toggler {
    display: none;
}
nav .menuBurger.icon-tabler-x.icon-tabler {
    display: none;
}
.activeMenuBurger nav .menuBurger.icon-tabler-x.icon-tabler {
    display: block;
}


nav .menuBurger {
    display: none;
    color: #fff;
    z-index: 2;
}



.invisibleMenuBurger {
    display: block;
}

@media screen and (min-width: 769px) {
    .invisibleMenuBurger {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .invisibleMenuBurger {
        display: none !important;
    }

    nav .menuBurger {
        top: 23px;
    }
}


@media screen and (max-width: 1024px) {
    nav .menuBurger {
        display: block;
        position: absolute;
        right: 24px;
    }
}

nav ul.menu > li > a {
    font-family: "Outfit-Medium", arial, sans-serif;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    padding: 0 13px;
}
@media screen and (max-width: 1024px) {
    nav ul.menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
nav ul.menu > li > a.visibleMenuBurger {
    display: none;
}
@media screen and (max-width: 1024px) {
    nav ul.menu > li > a.visibleMenuBurger {
        display: block;
    }
}
nav ul.menu > li > a:first-letter {
    text-transform: uppercase;
}
nav ul.menu > li > a:hover {
    color: #20406f;
}