
@font-face {
    font-family: 'Outfit-Thin';
    src: url("../fonts/Outfit-Thin.woff2") format("woff2"), url("../fonts/Outfit-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-ExtraLight';
    src: url("../fonts/Outfit-ExtraLight.woff2") format("woff2"), url("../fonts/Outfit-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Light';
    src: url("../fonts/Outfit-Light.woff2") format("woff2"), url("../fonts/Outfit-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Regular';
    src: url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-medium';
    src: url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-SemiBold';
    src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Bold';
    src: url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-ExtraBold';
    src: url("../fonts/Outfit-ExtraBold.woff2") format("woff2"), url("../fonts/Outfit-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit-Black';
    src: url("../fonts/Outfit-Black.woff2") format("woff2"), url("../fonts/Outfit-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Outfit-Regular", arial, sans-serif !important;
    --font-family-sans-serif: "Outfit-Regular", arial, sans-serif !important;
}

.navbar.navbar-expand-lg {
    background-color: #4c8be8 !important;
}

.bg-dark {
    background-color: #4c8be8 !important;
}

.text-dark {
    color: #4c8be8 !important;
}

.badge.badge-blue {
    background: #4c8be8 !important;
}

.dropdown-item.active, .dropdown-item:active
{
    background: #4c8be8 !important;
}

.dropdown-item.active i.fa, .dropdown-item:active i.fa {
    color: white !important;
}

.btn.btn-icon {
    background: #4c8be8 !important;
}

.white-icon {
    stroke: white;
}

.dropdown-menu .dropdown-item:hover {
    background: #4c8be8 !important;
}

.btn-dark, .btn-success {
    background: linear-gradient(90deg, #4c8be8 0, #4c8be8);
    border-color: #4c8be8;
}
.btn.btn-success:hover {
    border-color: #4c8be8 !important;
}

.bg-blue, .osahan-post-header:hover {
    background: #4c8be8 !important;
    border-color: #4c8be8 !important;
    color: #fff !important;
}

.btn.btn-icon {
    height: 38px !important;
    width: 38px !important;
}

/* FIL ARIANNE */

.breadcrumb {
    margin-bottom: 25px;
    background-color: #FFFFFF !important;
}
.breadcrumb .content {
    padding-left: 34px;
    position: relative;
}
.breadcrumb .content a {
    font-family: "Outfit-Medium", arial, sans-serif;
    font-size: 15px;
    color: #75787b;
    padding-right: 15px;
    padding-left: 5px;
    position: relative;
    display: inline-block;
}
.breadcrumb .content a::first-letter {
    text-transform: uppercase;
}
.breadcrumb .content a:first-child {
    position: absolute;
    left: 0;
    padding-left: 0;
}
.breadcrumb .content a:after {
    content: "/";
    position: absolute;
    right: 0;
    top: 0;
    color: #75787b;
}
.breadcrumb .content a:last-child {
    padding-right: 0;
}
.breadcrumb .content a:last-child::after {
    display: none;
}
.breadcrumb .content a:not(:first-child):hover {
    text-decoration: underline;
}
.breadcrumb .content a:hover {
    color: #343a40;
}


/* Responsive menu burger */


nav .left-content {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    nav .left-content {
        display: block;
    }
}


nav .content-right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    nav .content-right {
        position: absolute;
        background: #20406f;
        width: 100%;
        top: 0;
        height: 100vh;
        align-items: flex-start;
        padding-left: 25px;
        padding-top: 80px;
        left: 100%;
        transition: transform 0.4s ease, opacity 0.4s ease;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
    }
    .activeMenuBurger nav .content-right {
        left: 0;
    }
    .userConnected nav .content-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    nav .content-right nav {
        margin-bottom: 20px;
    }
    nav .content-right .menu {
        display: block;
    }
    nav .content-right .menu li i {
        display: none;
    }
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
@media screen and (max-width: 767px) {
    nav .content {
        display: block;
    }
}
nav .content-right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    nav .content-right {
        position: absolute;
        background: #20406f;
        width: 100%;
        top: 0;
        height: 100vh;
        align-items: flex-start;
        padding-left: 25px;
        padding-top: 80px;
        left: 100%;
        transition: transform 0.4s ease, opacity 0.4s ease;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
    }
    .activeMenuBurger nav .content-right {
        left: 0;
    }
    .userConnected nav .content-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    nav .content-right nav {
        margin-bottom: 20px;
    }
    nav .content-right .menu {
        display: block;
    }
    nav .content-right .menu li i {
        display: none;
    }
}




.activeMenuBurger nav .menuBurger.navbar-toggler {
    display: none;
}
nav .menuBurger.icon-tabler-x.icon-tabler {
    display: none;
}
.activeMenuBurger nav .menuBurger.icon-tabler-x.icon-tabler {
    display: block;
}


nav .menuBurger {
    display: none;
    color: #fff;
    z-index: 2;
}



.invisibleMenuBurger {
    display: block;
}

@media screen and (min-width: 769px) {
    .invisibleMenuBurger {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .invisibleMenuBurger {
        display: none !important;
    }

    nav .menuBurger {
        top: 23px;
    }
}


@media screen and (max-width: 1024px) {
    nav .menuBurger {
        display: block;
        position: absolute;
        right: 24px;
    }
}

nav ul.menu > li > a {
    font-family: "Outfit-Medium", arial, sans-serif;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    padding: 0 13px;
}
@media screen and (max-width: 1024px) {
    nav ul.menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
nav ul.menu > li > a.visibleMenuBurger {
    display: none;
}
@media screen and (max-width: 1024px) {
    nav ul.menu > li > a.visibleMenuBurger {
        display: block;
    }
}
nav ul.menu > li > a:first-letter {
    text-transform: uppercase;
}
nav ul.menu > li > a:hover {
    color: #20406f;
}



footer {
    background-color: #20406f;
}
footer .content {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
    gap: 50px;
}
@media screen and (max-width: 991px) {
    footer .content {
        display: block;
    }
}
footer .content .infoWebsite {
    width: 250px;
}
@media screen and (max-width: 991px) {
    footer .content .infoWebsite {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
}
footer .content .infoWebsite .logo {
    width: 200px;
}
footer .content .infoWebsite .description {
    font-family: "Outfit-Light", arial, sans-serif;
    color: #dee2e6;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 14px;
}
footer .content .infoWebsite .description:first-letter {
    text-transform: uppercase;
}
footer .content .infoWebsite .titleFolow {
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    margin-top: 40px;
}
footer .content .infoWebsite .socialMedia {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
@media screen and (max-width: 991px) {
    footer .content .infoWebsite .socialMedia {
        justify-content: center;
    }
}
footer .content .infoWebsite .socialMedia i {
    font-size: 38px;
    color: white;
}
footer .content .infoWebsite .socialMedia a:hover i {
    color: #4c8be8;
}
footer .content .linksWebsite {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 400px);
}
@media screen and (max-width: 991px) {
    footer .content .linksWebsite {
        width: 100%;
    }
}
@media screen and (max-width: 660px) {
    footer .content .linksWebsite {
        display: block;
    }
}
footer .content .linksWebsite .links {
    max-width: 350px;
    width: 100%;
}
@media screen and (max-width: 660px) {
    footer .content .linksWebsite .links {
        margin-bottom: 20px;
    }
}
footer .content .linksWebsite .title {
    font-family: "Outfit-Medium", arial, sans-serif;
    color: white;
    font-size: 21px;
    margin-bottom: 15px;
}
footer .content .linksWebsite .title::first-letter {
    text-transform: uppercase;
}
footer .content .linksWebsite ul li a {
    font-family: "Outfit-Regular", arial, sans-serif;
    color: #dee2e6;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
    transition: all .3s;
}
footer .content .linksWebsite ul li a::first-letter {
    text-transform: uppercase;
}
footer .content .linksWebsite ul li a:hover {
    text-decoration: underline;
}
footer .copyrights {
    border-top: solid thin #717189;
    padding: 20px 0;
}
footer .copyrights p {
    color: #dee2e6;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .badge-danger.cs-badge-respo {
        margin-left: -22px;
    }
}

footer .content .linksWebsite .title {
    font-family: "Outfit-Medium", arial, sans-serif !important;
    font-weight: bold !important;
}

footer .copyrights p {
    margin-bottom: 0;
}

.message-box {
    margin-top: 15px;
}

.date-separator {
    display: flex;
    align-items: center;
    color: #666; /* Couleur du texte */
    margin: 20px 0;
    font-size: 0.9em;
}

.date-separator::before,
.date-separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd; /* Style de la ligne */
    margin: 0 10px;
}

.date-text {
    color: #4c8be8;
}

.mt-n2px {
    margin-top: -2px;
}

footer div ul li:not(:last-child) {
    padding-bottom: 0 !important;
}
