<style>
   @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

   body {
      font-family: 'Outfit', Arial, sans-serif;
      font-weight: 300;
   }

   p {
      margin: 12px 0;
      line-height: 1.5;
      color: #000000;
   }

   strong {
      font-weight: 400;
   }
</style>
<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}

      <p>Bonjour <strong>{{ client.usePseudo == 1 ? client.pseudo : client.usePseudo == 1 ? client.pseudo :
            client.nom ~ ' ' ~ client.prenom }}</strong>,</p>

      <p>
         Le vendeur <strong>{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nickName }}</strong> vous informe que votre demande de retouche pour le service <strong>{{ commande.microservice.name }}</strong> a été réalisée 🎉.
      </p>

      <p>
         Vous disposez de 48 heures pour indiquer si vous êtes satisfait de la retouche. Si oui, vous êtes invité à cliquer sur le bouton "Clôturer la commande".
      </p>

      <div><br>
         <a href="{{ absolute_url(path('commande_details', {id: commande.id})) }}#valider" style="background: #4c8be8;
     background: -webkit-linear-gradient(legacy-direction(to right), #4c8be8 0%, #a9a9a9 100%);
     background: -webkit-gradient(linear, left top, right top, from(#4c8be8), to(#a9a9a9));
     background: -webkit-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: -o-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: linear-gradient(to right, #4c8be8 0%, #a9a9a9 100%);
     border-color: #4c8be8;color:#fff;padding: 15px;border-radius: 5px;margin: 10px 0;text-decoration: none;"> Voir la
            commande</a>
      </div><br>

      {% include "mails/_lien_cgu.html.twig" %}
      
   </div>
</div>