<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}
      
      <p>Bonjour <strong>{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.usePseudo == 1 ? vendeur.pseudo :
            vendeur.nom ~ ' ' ~ vendeur.prenom }}</strong>,</p>

      <p>
         Suite à votre livraison de la commande du service <strong>{{ commande.microservice.name }}</strong>, pour le client <strong>{{ client.usePseudo == 1 ? client.pseudo : client.usePseudo == 1 ? client.pseudo :
            client.nickName }}</strong>. Nous laissons maintenant le client disposer de 48 heures pour clôturer la commande ou demander une retouche.
      </p>

      {% include "mails/_lien_cgu.html.twig" %}
      
   </div>
</div>