<p>
    Besoin d'aide ? Consultez la <a href="{{ absolute_url(path('app_faq')) }}">FAQ</a>.
    <a href="{{ absolute_url(path('page_politiques')) }}">Conditions générales</a>
</p>

<p>
    Cordialement, <br>
    L'équipe {{ appName }}
</p>

{#<p style="text-align: center;">©{{ appName }} - Tous droits réservés</p>#}