<div style="background-color: #f3f3f3;padding: 30px 0;font-size: 13px;">
    <div style="margin: auto;background: #fff;padding: 20px;">

        {% include "mails/_logo.html.twig" %}
        <br>
        <p>Cher(e) vendeur/vendeuse,</p>
        <p>Nous sommes <b>ravis de vous accueillir sur la plateforme Talengo.io</b> !
            Votre talent et votre expertise viennent enrichir notre communauté de professionnels créatifs.</p>
        <p>

            En tant que vendeur sur Talengo.io, vous avez la possibilité de mettre en valeur vos services et de proposer vos compétences à un large public
            en quête de créativité. Que vous soyez <b>un développeur</b>, <b>un designer</b>, <b>un photographe
            ou tout autre professionnel</b>, votre présence sur notre plateforme est essentielle pour offrir des solutions variées et de qualité à nos utilisateurs.
        </p>
       <p>
           N'hésitez pas à explorer toutes les fonctionnalités de notre plateforme, à mettre en avant
           votre portfolio, à fixer vos tarifs et à communiquer avec les utilisateurs intéressés par vos
           services. Vous avez la liberté de gérer votre activité et de développer votre clientèle grâce à
           notre plateforme conviviale et intuitive.
       </p>
        <p>
            L'équipe de Talengo.io est là pour vous accompagner à chaque étape de votre parcours de
            vente. N'hésitez pas à nous contacter si vous avez des questions, des suggestions ou des
            préoccupations. Nous sommes là pour vous aider à réussir.
        </p>
        <br>
        <p>
            Bienvenue dans la famille Talengo.io ! Nous sommes ravis de vous avoir parmi nous.
        </p>
        <br>
        <br>
        <br>
        <br>
        <p>Cordialement,
            <br>
            <span style="font-size: 12px; color: #272498">L'équipe Talengo.io</span>
        </p>


    </div>
</div>