<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}
      
      <p>Bonjour <strong>{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.usePseudo == 1 ? vendeur.pseudo :
            vendeur.nom ~ ' ' ~ vendeur.prenom }}</strong>,</p>

      <p>
         Le montant de <strong>{{ commande.realPriceWithOutFee ~ currency }}</strong> a été crédité avec succès sur votre portefeuille.
      </p>
      <p>
         Vous pouvez consulter votre solde ainsi que l’historique de vos transactions en accédant à votre
         portefeuille via le lien suivant :
      </p>

      <div><br>
         <a href="{{ absolute_url(path('vendeur_portefeuille')) }}" style="background: #4c8be8;
     background: -webkit-linear-gradient(legacy-direction(to right), #4c8be8 0%, #a9a9a9 100%);
     background: -webkit-gradient(linear, left top, right top, from(#4c8be8), to(#a9a9a9));
     background: -webkit-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: -o-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: linear-gradient(to right, #4c8be8 0%, #a9a9a9 100%);
     border-color: #4c8be8;color:#fff;padding: 15px;border-radius: 5px;margin: 10px 0;text-decoration: none;">
      Voir mon portefeuille
     </a>
      </div><br>

      <p>
         Nous restons à votre disposition pour toute question.
      </p>

      {% include "mails/_lien_cgu.html.twig" %}
   
   </div>
</div>