<div style="background-color: #f3f3f3;padding: 30px 0;font-size: 13px;">
    <div style="margin: auto;background: #fff;padding: 20px;">

        {% include "mails/_logo.html.twig" %}
        <br>

        <p>Cher (e) {{ nom }}, </p>

        <p>Nous espérons que vous allez bien. Vous n’avez pas encore publié de service, nous aimerions vous rappeler l'importance de
            créer des services sur notre plateforme afin de valoriser votre savoir-faire et d'augmenter votre visibilité auprès des clients potentiels.</p>

        <p>En tant que professionnel talentueux, vous avez des compétences uniques à offrir, et nous souhaitons vous aider à les mettre en avant.
            En créant des services sur Talengo.io, vous pourrez attirer l'attention des clients intéressés par vos services et ainsi augmenter vos opportunités commerciales.</p>

        <p>Créer un service sur notre plateforme est simple et rapide. Il vous suffit de vous connecter à votre compte, puis de cliquer sur l'onglet "<b>Mes services</b>" pour commencer. Vous pourrez ensuite ajouter autant de service possible correspondant à vos compétences, et dans diverses catégories.</p>

        <p>Une fois votre service créé, les clients pourront facilement vous trouver lorsqu'ils recherchent des professionnels dans votre domaine.
            Vous aurez également la possibilité de fixer vos tarifs et de définir vos disponibilités selon vos préférences.</p>
        <p>Nous sommes convaincus que Talengo.io vous apportera de nouvelles opportunités d'affaires et vous permettra de développer votre activité. 🌟</p>
        <p>Nous sommes impatients de voir vos services sur notre plateforme et de vous accompagner dans votre réussite professionnelle.</p>
        <br>
        <br>
        <br>
        <br>
        <p>Cordialement,
            <br>
            <span style="font-size: 12px; color: #272498">L'équipe Talengo.io</span>
        </p>


    </div>
</div>

