<form method="post" class="d-inline" action="{{ path('app_vendeur_skill_deleted', {'id': realisation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette compétence ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
