{% extends 'vendeur.html.twig' %}

{% block title %}Nounvelle compétence{% endblock %}

{% block body %}
    <div class="p-3 border-bottom text-left bg-dark rounded">
		<h4 class="mb-0 h6 text-light">
			{{ block('title') }}
		</h4>
	</div>

    {{ include('vendeur/competence/_form.html.twig') }}

{% endblock %}
