{% extends 'old_base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}

	<div class="mt-4">
		<div class="container">
{#			<div class="breadcrumb">#}
{#				<div class="content">#}
{#					<a href="{{ path('accueil') }}"><i class="fa fa-home"></i></a>#}
{#					<a href=""></a>#}
{#				</div>#}
{#			</div>#}
			<div class="cs-notification-control">
				<input type="checkbox" id="mark-all-read" class="cs-pretty-checkbox" data-url="{{ path('commandes_message_lu') }}">
				<label for="mark-all-read" class="cs-checkbox-label">
					<!-- Icône de validation (visible par défaut) -->
					<svg viewBox="0 0 20 20" class="cs-check-icon">
						<path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"/>
					</svg>

					<!-- Spinner SVG (caché par défaut) -->
					<svg class="cs-spinner" viewBox="0 0 50 50">
						<circle cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
					</svg>

					<span class="cs-checkbox-text">Tout marquer comme lu</span>
				</label>
			</div>
			<div class="row">
				<!-- Main Content -->
				<main class="col-lg-12 col-md-12 col-sm-12 col-12">
					{% include "conversations/composants/_list_conversations.html.twig" %}
				</main>
			</div>
		</div>
	</div>

{% endblock %}
