{% extends 'old_base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}

	<div class="mt-4">
		<div class="container">
{#			<div class="breadcrumb">#}
{#				<div class="content">#}
{#					<a href="{{ path('accueil') }}"><i class="fa fa-home"></i></a>#}
{#					<a href=""></a>#}
{#				</div>#}
{#			</div>#}
			<div class="row">
				<!-- Main Content -->
				<main class="col-lg-12 col-md-12 col-sm-12 col-12">
					{% include "conversations/composants/_list_conversations.html.twig" %}
				</main>
			</div>
		</div>
	</div>

{% endblock %}
