<form method="post" action="{{ path('app_admin_rapports_delete', {'id': rapport.id}) }}" onsubmit="return confirm('Vous voulez supprimé cet rapport ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rapport.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
