{% extends 'admin.html.twig' %}

{% block title %}Modifier Rapport{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <a href="{{ path('app_admin_rapports_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('admin/admin_rapports/_form.html.twig', {'button_label': 'Update'}) }}



    <div class="mt-1">
        {{ include('admin/admin_rapports/_delete_form.html.twig') }}
    </div>
{% endblock %}
